.UserForm{
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 25px;
}







.inputs input {
    margin-bottom: 14px;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;

    display: block;
    text-align: center;
    /* margin: auto auto; */


}


.inputBeat {
    height: 40px;
    width: 40%;
    font-size: 24px;
    background-color: rgba(84, 121, 131, 0.5);
    border-radius: 25px;
    align-self: center;
    
}

.inputBeat:focus {
    outline: none;
}

.buttonBeat {
    height: 40px;
    width: 12.5%;
    font-size: 24px;
    background-color: rgba(84, 36, 107, 0.75);
    color:rgb(177, 190, 119);
    margin-right: 4px;
    border-radius: 25px;
}

.buttonBeat:focus {
    box-shadow: 0 0 3pt 2pt red;
    outline: none;
}

.inputs{
    /* margin-left: 40%; */
}